#s-802403af-834b-4ec7-aebc-0f158b65c972 > #backgroundBox {
  position: absolute;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 > #alignmentBox {
  position: relative;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_1 {
  position: absolute;
  width: 1919.9999999999995px;
  min-height: 60.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #3768F6;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_1 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_1 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_2 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_2 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_3 {
  position: absolute;
  width: 140.77978339350176px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_3 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_4 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000224px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_4 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_5 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_5 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #EFEFEF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_1 input::-moz-placeholder {
  color: #EFEFEF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_1 input:-moz-placeholder {
  color: #EFEFEF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_1 input:-ms-input-placeholder {
  color: #EFEFEF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_1 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_1 input {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.5pt;
  font-weight: 700;
  text-transform: uppercase;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #3768F6;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_6 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_6 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_2 {
  position: absolute;
  width: 1920.0000000000007px;
  min-height: 113.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_2 input::-moz-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_2 input:-moz-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_2 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_2 .valign {
  vertical-align: middle;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_2 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.5pt;
  font-weight: 700;
  text-transform: uppercase;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_1 {
  position: absolute;
  width: 19.248985462114888px;
  height: 19.20000660175978px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_2 {
  position: absolute;
  width: 2.400000825219875px;
  height: 7.787757441381899px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_3 {
  position: absolute;
  width: 2.8408173414527482px;
  height: 2.840817341452806px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_4 {
  position: absolute;
  width: 7.4938800752977315px;
  height: 8.032655480005443px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_5 {
  position: absolute;
  width: 18.90377431875072px;
  height: 18.900023305194736px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_6 {
  position: absolute;
  width: 9.706937588133428px;
  height: 9.706937588133371px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_7 {
  position: absolute;
  width: 2.265475016670905px;
  height: 2.275606452894749px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_8 {
  position: absolute;
  width: 18.999999999999773px;
  height: 18.884960711002122px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_9 {
  position: absolute;
  width: 8.126953124999886px;
  height: 15.289062269963097px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_10 {
  position: absolute;
  width: 19.69230785595595px;
  height: 15.999999999999998px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_11 {
  position: absolute;
  width: 24.199999999999996px;
  height: 16.936668648284478px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Image_1 {
  position: absolute;
  width: 1252.986814643501px;
  height: 567.2908198569139px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_3 input::-moz-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_3 input:-moz-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_3 {
  position: absolute;
  width: 192.99999999999994px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_3 .valign {
  vertical-align: middle;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_3 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_12 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_4 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_4 input::-moz-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_4 input:-moz-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_4 input:-ms-input-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_4 {
  position: absolute;
  width: 193.00000000000017px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_4 .valign {
  vertical-align: middle;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_4 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_13 {
  position: absolute;
  width: 20.0px;
  height: 20.000000000000227px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_1 {
  position: absolute;
  width: 193.0000000000016px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_1 .valign {
  vertical-align: middle;
  line-height: 11.25pt;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  min-height: 11.25pt;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_1 .icon {
  top: 13.5px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_2 {
  position: absolute;
  width: 193.0000000000016px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_2 .valign {
  vertical-align: middle;
  line-height: 11.25pt;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  min-height: 11.25pt;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Date_2 .icon {
  top: 13.5px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 .s-Select_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 .s-Select_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 .s-Select_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 .s-Select_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Select_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Select_1 {
  position: absolute;
  width: 193.00000000000023px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  vertical-align: middle;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Select_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Select_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Select_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 .s-Select_2 .line_options.selected {
  background-color: #000000 !important;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 .s-Select_2 .selected > .options {
  color: #FFFFFF !important;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 .s-Select_2 .line_options:hover {
  background-color: #000000 !important;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 .s-Select_2 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Select_2 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Select_2 {
  position: absolute;
  width: 193.00000000000023px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  vertical-align: middle;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Select_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Select_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Select_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_7 {
  position: absolute;
  width: 193.0000000000016px;
  min-height: 45.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_10 span#rtr-s-Text_10_1 {
  color: #3F51B5;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Text_10 span#rtr-s-Text_10_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_8 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Paragraph_68 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Paragraph_68 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Paragraph_68 .valign {
  vertical-align: top;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Paragraph_68 span {
  color: #B3261E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Paragraph_68 span#rtr-s-Paragraph_68_0 {
  color: #B3261E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_10 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_10 input::-moz-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_10 input:-moz-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_10 input:-ms-input-placeholder {
  color: #82888C;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_10 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_10 .valign {
  vertical-align: middle;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_10 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Input_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Path_93 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Paragraph_67 {
  position: absolute;
  width: 188.3515625px;
  min-height: 17.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Paragraph_67 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Paragraph_67 .valign {
  vertical-align: top;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Paragraph_67 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Paragraph_67 span#rtr-s-Paragraph_67_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_9 {
  position: absolute;
  width: 91.00000000000045px;
  min-height: 44.97585071350181px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-802403af-834b-4ec7-aebc-0f158b65c972 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}