#s-046db247-9ce1-4ce1-99a6-78b67efddac0 > #backgroundBox {
  position: absolute;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 > #alignmentBox {
  position: relative;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 25.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_4 {
  position: absolute;
  width: 1108.0898437499995px;
  min-height: 378.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Image_1 {
  position: absolute;
  width: 438.9999999999999px;
  height: 360.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Image_2 {
  position: absolute;
  width: 438.9999999999999px;
  height: 360.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Image_3 {
  position: absolute;
  width: 438.9999999999999px;
  height: 360.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_1 {
  position: absolute;
  width: 1920.0000000000007px;
  min-height: 113.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_2 input::-moz-placeholder {
  color: #82888C;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_2 input:-moz-placeholder {
  color: #82888C;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_2 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_2 .valign {
  vertical-align: middle;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_2 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.5pt;
  font-weight: 700;
  text-transform: uppercase;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_1 {
  position: absolute;
  width: 19.248985462114888px;
  height: 19.20000660175978px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_2 {
  position: absolute;
  width: 2.400000825219875px;
  height: 7.787757441381899px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_3 {
  position: absolute;
  width: 2.8408173414527482px;
  height: 2.840817341452806px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_4 {
  position: absolute;
  width: 7.4938800752977315px;
  height: 8.032655480005443px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_5 {
  position: absolute;
  width: 18.90377431875072px;
  height: 18.900023305194736px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_6 {
  position: absolute;
  width: 9.706937588133428px;
  height: 9.706937588133371px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_7 {
  position: absolute;
  width: 2.265475016670905px;
  height: 2.275606452894749px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_8 {
  position: absolute;
  width: 18.999999999999773px;
  height: 18.884960711002122px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_9 {
  position: absolute;
  width: 8.126953124999886px;
  height: 15.289062269963097px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_10 {
  position: absolute;
  width: 19.69230785595595px;
  height: 15.999999999999998px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_11 {
  position: absolute;
  width: 24.199999999999996px;
  height: 16.936668648284478px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_2 {
  position: absolute;
  width: 1919.9999999999995px;
  min-height: 60.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #3768F6;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_1 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_1 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_2 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_2 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_3 {
  position: absolute;
  width: 140.77978339350176px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_3 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_4 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000224px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_4 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_5 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_5 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #EFEFEF;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_1 input::-moz-placeholder {
  color: #EFEFEF;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_1 input:-moz-placeholder {
  color: #EFEFEF;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_1 input:-ms-input-placeholder {
  color: #EFEFEF;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_1 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_1 input {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.5pt;
  font-weight: 700;
  text-transform: uppercase;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #3768F6;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_6 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_6 span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_5 span {
  color: #B3261E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #B3261E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_3 input::-moz-placeholder {
  color: #82888C;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_3 input:-moz-placeholder {
  color: #82888C;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_3 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_3 .valign {
  vertical-align: middle;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_3 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Input_text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Path_12 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_6 {
  position: absolute;
  width: 228.1171875px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_7 {
  position: absolute;
  width: 300.00000000000045px;
  min-height: 27.975850713501643px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_8 {
  position: absolute;
  width: 140.77978339350182px;
  min-height: 26.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Dynamic_panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Panel_1 {
  width: 100.0px;
  height: 60.0px;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_3 {
  position: absolute;
  width: 99.99999999999872px;
  min-height: 59.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_9 {
  position: absolute;
  width: 70.38989169675014px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-046db247-9ce1-4ce1-99a6-78b67efddac0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}